<div class="col s12">
  <ul class="tabs">
    <li class="tab col s6">{{#link-to 'flights.index'}}All Flights{{/link-to}}</li>
    <li class="tab col s6">{{#link-to 'flights.my-flights'}}My Flights{{/link-to}}</li>
  </ul>
</div>
{{yield}}
