<div id="motor-modal" class="modal">
  <div class="modal-content">
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close btn-flat" onclick={{action 'saveMotor'}}>Save</a>
    <a class="modal-action modal-close btn-flat" onclick={{action 'cancelMotor'}}>Cancel</a>
  </div>
</div>
