<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Rocket Flights</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#link-to 'flights' tagName="li"}}Flights{{/link-to}}
      {{#link-to 'motors' tagName="li"}}Motors{{/link-to}}
      {{#link-to 'rockets' tagName="li"}}Rockets{{/link-to}}
    </ul>
  </div>
</nav>
