<select onchange={{action 'rocketDidChange' value='target.value'}}>
  {{#each rockets as |rocket|}}
    <option value={{rocket.id}}
            selected={{eq rocket.id selectedRocket.id}}>
      {{rocket.name}}
    </option>
  {{/each}}
</select>
