<div class="col s12">
  <ul class="tabs">
    <li class="tab col s6">{{#link-to 'rockets.index'}}All Rockets{{/link-to}}</li>
    <li class="tab col s6">{{#link-to 'rockets.my-rockets'}}My Rockets{{/link-to}}</li>
  </ul>
</div>
