<ul class="collection">
  {{#each model as |userFlight|}}
    {{#link-to 'flights.show' userFlight.flight class="collection-item" tagName="li"}}
      <a>{{userFlight.flight.rocketName}}</a>
      <div class="secondary-content">{{format-date userFlight.flight.flightDate format="LL"}}</div>
    {{/link-to}}
  {{/each}}
</ul>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  {{#link-to 'flights.new' class="btn-floating btn-large red"}}
    <i class="large material-icons">add</i>
  {{/link-to}}
</div>
