<ul class="collection">
  {{#each model as |rocket|}}
    {{#link-to 'rockets.show' rocket class="collection-item" tagName="li"}}
      <a>{{rocket.name}}
        <div class="secondary-content">{{rocket.flights.length}}</div>
      </a>
    {{/link-to}}
  {{/each}}
</ul>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  {{#link-to 'rockets.new' class="btn-floating btn-large red"}}
    <i class="large material-icons">add</i>
  {{/link-to}}
</div>
