<ul class="collection">
  {{#link-to 'flights.index' class="collection-item" tagName="li"}}<a>Flights</a>{{/link-to}}
  {{#link-to 'motors.index' class="collection-item" tagName="li"}}<a>Motors</a>{{/link-to}}
  {{#link-to 'rockets.index' class="collection-item" tagName="li"}}<a>Rockets</a>{{/link-to}}
</ul>
