<ul class="collection">
  {{#each model as |rocket|}}
    <li class="collection-item">
      <div>{{rocket.name}}
        <div class="secondary-content">{{rocket.flights.length}}</div>
      </div>
    </li>
  {{/each}}
</ul>
